<div class="list">
    <h1>Tasks</h1>
    <mat-selection-list [multiple]="false">
      <div class="mat-list-option-cover" >
        <mat-list-option *ngFor="let task of tasks " (click)="onOpenDialog(task)" >
          
          <div class="d-flex justify-content-between">
            <span class="task-date">
              {{ task.dueDate | date: "mediumDate" }}
            </span>
            <span class="task-date">
              {{ task.type }}
            </span>
          </div>
          <span class="task-title">
            {{ task.name.substring(0, 40) }}
            {{ task.name.length > 40 ? "..." : "" }}
          </span>
        </mat-list-option>
      </div>
    </mat-selection-list>

    <li class="content__item">
      <button class="button button--skoll" (click)=onOpenDialogCreate()><span><span>Add</span></span></button>
    </li>



    <!-- <button mat-button (click)=onOpenDialogCreate()>create task</button> -->


    <!-- <app-uploadanddownload></app-uploadanddownload> -->
  </div>