<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>َformulaire</title>
   
  </head>
  <body>

<form class="box" action="formulaire.html" method="get">
 <fieldset>
  <legend><b>Deposer</b></legend>
  <label for="pseudo">titre</label>
  <input type="text" name="pseudo" id="pseudo" ><br/>
  
  <label for="pseudo">genre</label>
  <input type="text" name="pseudo" id="pseudo" ><br/>
  

  <label for="motivation">resume</label>
  <textarea name="motivation" id="motivation"></textarea><br/>
  

  <label for="num"> Nombre de page </label>
 <input type="number" name="num" id="num" ><br/>

  
  
  <input type="submit" name="" value="deposer">
  <audio src= "TeenWolf Theme Extended S5 - Kebehout.WAV" controls autoplay loop ></audio>
  </fieldset>

</form>
