<header class="banner">
    
          <div class="banner__contents">
            <!-- <h1 class="banner__title">Money Heist</h1> -->
            <div class="banner__buttons">
              <form action='https://www.w3docs.com/' method="get" target="_blank">
                <button  class="banner__button" > Go to website</button>
              </form>

              <!-- <button class="banner__button">visit website </button> -->
              
            </div>
            
          </div>
          <div class="banner--fadeBottom"></div>
</header>
