
  <app-header></app-header>
  <div class="reddit-body">
  
    <hr />   
    

      <div class="container">
             
               
          <!-- <app-navbar></app-navbar> -->
          

              <!-- <div class="leftbar">
                <hr /><hr /> 
                <ul id="menu">
                  <li><div>
                    <a class="link1" href=""> <span class="label"
                    style="margin-left: 15px;">Home</span>
                    </a>
                  </div></li>
                  <li><div>
                    <a style="font-weight: bold" routerLink="/newcomponent">
                    <span style="margin-left: 15px;" class="label">File Manager</span></a>
                  </div></li>
                  <li>
                    <div>
                    <span class="label" style="margin-left: 15px;">Users Manager</span>
                    </div>
                    <ul>
                
                      <li><a class="label" href=""><span class="label" style="margin-left: 30px;"></span></a>
                      </li>
                
                  </ul></li>
                    
                  <li>
                    <div>
                    <span class="label" style="margin-left: 15px;">Contact Us</span>
        
                    </div>
                  </li>
                </ul>
          
                <form class="search">
                  <input type="hidden" name="action" value="search" /> 
                  <input id="text" type="search" (ngModelChange)="searchPostsByUsers(key.value)" #key="ngModel" ngModel
                  name="key" size="12" /> 
                    <span class="tooltip_message">?</span>
                  <p>
                </form>
        
            
              </div>  -->

          

          
            

            <div class="row">
              
            

            


          

            
              <div class='col-lg-3 col-md-1 col-2'>
                <hr /><hr /> 
                <app-taskhome></app-taskhome>
              

              </div>

              
            
              
              
          

          
            
              <div class='col-lg-6 col-md-11 col-10' id='scroll'>
                <div class="post-part">
                  <!-- <app-header3></app-header3>              -->

                  
                 
                  <!-- <app-post-tile [posts]="posts$"></app-post-tile>  -->
                  <app-tabs></app-tabs>
                </div> 
                
                
              </div>

            

              <div class='col-lg-3 d-none d-lg-block' id='bar' >
                <div class='sub'>
                <app-side-bar></app-side-bar>
                <app-subreddit-side-bar></app-subreddit-side-bar>
                </div>
                <div id="policy">
                  <span><strong>Design:</strong>
                    <a href="www.twitter.com/ayoub">@ayoub</a>                  
                  </span><br />
                  <span><strong>Backend:</strong>
                    <a href="www.twitter.com/ayoub">@ayoub</a> 
                    
                  </span><br />
                  <span>CopyRights 2021</span><br />
                  <span>Github: www.xxxx.xxx</span>
                </div><br />

                
              </div>  



              

            </div>
          
        
      </div>        
  </div>





